// Import custom theme
@require './theme.styl'

// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.page
  @extend .fade-transition

html { font-size: 16px; }
h1 { font-size: 33px; }
h2 { font-size: 28px; }
h3 { font-size: 23px; }
h4 { font-size: 19px; }
small { font-size: 13px; }
.box { padding: 20px; }

@media screen and (min-width: 1400px) {
  html { font-size: 16px; }
  h1 { font-size: 33px; }
  h2 { font-size: 28px; }
  h3 { font-size: 23px; }
  h4 { font-size: 19px; }
  small { font-size: 13px; }
  .box { padding: 20px; }
}

@media screen and (min-width: 1256px) {
  html { font-size: 14px; }
  h1 { font-size: 28px; }
  h2 { font-size: 25px; }
  h3 { font-size: 20px; }
  h4 { font-size: 15px; }
  small { font-size: 10px; }
  .box { padding: 17px; }
}

@media screen and (max-width: 756px) {
  html { font-size: 14px; }
  h1 { font-size: 20px; }
  h2 { font-size: 18px; }
  h3 { font-size: 16px; }
  h4 { font-size: 14px; }
  small { font-size: 10px; }
  .box { padding: 17px; }

}
